<!-- /templates/checkoffs.html  -->

{% extends 'base.html' %}

{% block content %}
    <div class="flight-container" style="overflow: visible; max-height: 100%">
        <div class="table-responsive">
            <h3 align="center">Welcome, {{name}}</h3>
            {% for position in positions %} 
                {% for category in categories %}
                    <h3 align="center">{{position.name}}</h3>
                    <table class="table" id="checkoffs" rules="all">
                        <thead>
                            <tr>
                                <th scope="col">{{category.name}} ID</th>
                                <th scope="col">Signature</th>
                                <th scope="col">Date and Time</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for checkoff in checkoffs %}
                        <!-- id = {{checkoff.id}} went after <tr> -->
                            <tr> 
                                <td >{{checkoff.title}} 
                                        {% for requirement in requirements %}
                                            {% if requirement.checkoff_id == checkoff.checkoff_id %}
                                                <br>
                                                <input type="checkbox" name="checkbox" id= {{requirement.id}} value="value">
                                                <label for={{requirement.id}}>{{requirement.description}}</label>
                                            {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{checkoff.signature}}</td>
                                <td>{{checkoff.date_time}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <h3 align="center">Query Execution Time: {{time}} seconds</h3>
                    <button type="submit" class="btn btn-block btn-primary">Update Checkoffs</button>
                {% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}