<!-- /templates/checkoffs.html  -->

{% extends 'base.html' %}

{% block content %}
    <div class="flight-container" style="overflow: visible; max-height: 100%">
        <div class="table-responsive">
            <h3 align="center">Welcome, {{name}}</h3>
            {% for position in positions %} 
                {% for category in categories %}
                    <h3 align="center">{{position.name}}</h3>
                    <table class="table" id="checkoffs" rules="all">
                        <thead>
                            <tr>
                                <th align="center" scope="col" >{{category.name}}</th>
                                <th align="center" scope="col" >Signature <br> Date and Time</th>
                                <!-- <th scope="col">Date and Time</th> -->
                            </tr>
                        </thead>
                        <tbody>
                        {% for checkoff in checkoffs %}
                        <!-- id = {{checkoff.id}} went after <tr> -->
                            <tr> 
                                <td>{{checkoff.title}} 
                                        {% for requirement in requirements %}
                                            {% if requirement.checkoff_id == checkoff.checkoff_id %}
                                                <br>
                                                <input type="checkbox" name="checkbox" id= {{requirement.id}} value="value">
                                                <label for={{requirement.id}}>{{requirement.description}}</label>
                                            {% endif %}
                                    {% endfor %}
                                </td>
                                <td> 
                                    {% if checkoff.signature == None and checkoff.date_time == None %}
                                    <!-- todo: pass the checkoff_id AND the new signature to the next method -->
                                        <form align="center" action="/checkoff_sheet_complete/{{checkoff.checkoff_id}}", method = "post">
                                            <input type="text" name="signing_member_name" value="Signature"><br>
                                            <input type="submit" value="Sign Off"/>
                                        </form>
                                    {% else %}
                                        <form align="center">
                                            {{checkoff.signature}}
                                            <br>
                                            {{checkoff.date_time}}
                                        </form>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <h3 align="center">Query Execution Time: {{time}} seconds</h3>
                    <!-- <button type="submit" class="btn btn-block btn-primary">Update Checkoffs</button> -->
                    <!-- <form action="/checkoff_sheet_edit/{{name}}", method = "post">
                        <input type="submit" value="" />
                    </form> -->
                {% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}