<!-- /templates/checkoffs.html  -->

{% extends 'base.html' %}

{% block content %}
<h1>Confirm Edit</h1>
    <div>
        Are you sure?
        <form align="center" action="/checkoff_sheet/{{membername}}" method = "post">
            <input type="hidden" name="prev" value="confirm"/>
            <input type="hidden" name="confirm" value="true"/>
            <input type="hidden" name="checkoff_id" value="{{chk_id}}"/>
            <input type="hidden" name="signing_member_name" value="{{name}}"/>
            <input type="submit" value="Yes"/>
        </form>
        <form align="center" action="/checkoff_sheet/{{membername}}" method = "post">
            <input type="hidden" name="prev" value="notconfirm"/>
            <input type="hidden" name="confirm" value="true"/>
            <input type="hidden" name="checkoff_id" value="{{chk_id}}"/>
            <input type="hidden" name="signing_member_name" value="{{name}}"/>
            <input type="submit" value="No"/>
        </form>
    </div>


{% endblock %}