{% extends 'base.html' %}

{% block content %}
    <div class="flight-container" style="overflow: visible; max-height: 100%">
        <div class="table-responsive">
            <h3 align="center">Welcome, {{name}}</h3>
                {% for category in document["categories"] %}
                    <h3 align="center">{{category["position"]}}</h3>

                    <form action="/update_checkoffs/{{name}}" method="post">
                    <table class="table" id="checkoffs" rules="all">
                        <thead>
                            <tr>
                                <th scope="col">Checkoff Name</th>
                                <th scope="col">{{category["cat_name"]}} ID</th>
                                <th scope="col">Signature</th>
                                <th scope="col">Date and Time</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for checkoff in category["checkoffs"] %}
                                <th rowspan="{{checkoff['requirements'] | length + 1 }}" scope="rowgroup"> {{checkoff["check_name"]}} </th>
                                {% for requirement in checkoff["requirements"] %}
                                <tr>
                                    <td >
                                    <input type="checkbox" name="checkbox" id= "{{requirement['description']}}" value="{{requirement['description']}}"/>
                                    <label for="{{requirement['description']}}">{{requirement["description"]}}</label>
                                    </td>
                                    <td>{{requirement["authorized_by"]}}</td>
                                    <td>{{requirement["date_fulfilled"]}}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>

                    </table>

                {% endfor %}
                <button type="submit" class="btn btn-block btn-primary">Update Checkoffs</button>
                </form>
        </div>
    </div>
{% endblock %}
